.projectContainer{
    display: 'block';
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

.projectContainer h2{
  margin-top: 6rem;
}

/* .slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 50%;
    padding: 30px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
} */

.icon {
    color: #dedede;
    font-size: 50px;
  }

    .icon:hover {
        color: #61dafb;
    }
  /* .image {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    object-position: center;
    border-radius: 5px;
  } */

  .item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

   .caption{
    font-size: 20px;
    font-weight: bold;
    color: #61dafb;
    border: 1px solid #61dafb;
    border-radius: 20px;
    padding: 5px;
    margin: auto;  
    width: 50%;  
    height:500px;
  }

  .caption:hover{
    opacity: 0.9;
  } 




  .captionIcon{
    font-size: 25px;
    font-weight: bold;
    margin-right: 5px;
  }

  a{
    text-decoration: none;
    color: #fff;
  }
  .skillsBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 50%;
    padding: 30px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
  }

  .skills{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center; 
  }

  .skills:hover{
    background-color: #61dafb;
    color: #fff;
  }

  @media (max-width: 768px) {
    .projectContainer {
      width: 100%;
      padding: 10px;
    }

    .item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .skillsBox{
      width: 100%;
      padding: 10px;
    }

    .skills{
      max-width: fit-content;
      padding: 5px;
      margin:auto;
    }

    .caption{
      width: 100%;
      height: 300px;
    }


  }