.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
}

.homeContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.imageContainer {
  height: 100vh;
  width: 50%;
}

.descriptionContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.homeImage {
  height: 100%;
  width: 100%;
}

.mediaBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonMedia {
  background-color: #81dafb;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.buttonMedia:hover {
  background-color: #fff;
  color: rgb(32 161 196);
  border: 1px solid #61dafb;
}

.buttonMedia a {
  text-decoration: none;
  color: #fff;
}

.buttonMedia a:hover {
  text-decoration: none;
  color: rgb(32 161 196);
}

@media (max-width: 768px) {
  .homeContainer {
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 50px;
  }

  .imageContainer {
    height: 50%;
    width: 100%;
  }

  .homeImage {
    height: 100%;
    width: 100%;
  }

  .descriptionContainer {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
  }

  .buttonMedia {
    font-size: 15px;
  }
}
