.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.homeContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.imageContainer {
  width: 60%;
}

.descriptionContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.homeImage {
  height: 100%;
  width: 100%;
}
h2{
  font-size: 40px;
  font-weight: bold;
}
h4{
  font-size: 30px;
  font-weight: bold;

}
.description{
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .homeContainer {
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    font-size: 15px;
    text-align: center;
    padding-top: 50px;
  }

  .imageContainer {
    width: 100%;
  }

  .homeImage {
    height: 100%;
    width: 100%;
  }

  .descriptionContainer {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-top: 75px;
  }
}
