body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #282c34; */
  color: #61dafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-caption{
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background-color: #000;
  opacity: 0.5;  
  font-size: 1.2rem;
  animation: captionEntry 1s ease-in-out;
}

.imageBox{
  width: 100%;
  height: 500px;
}

.image{
  width: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 20px;
}

@keyframes captionEntry {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 768px){
  .image{
    width: 100% !important;
    height: 300px;
    border-radius: 10px !important;
  }

  .imageBox{
    width: 100% !important;
    height: 300px;
  }

  .carousel-caption{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 0.8rem;

  }
}