@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Pacifico&family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #282c34; */
  color: #61dafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Pacifico', cursive;
}


.carousel-caption{
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background-color: #000;
  opacity: 0.5;  
  font-size: 1.2rem;
  animation: captionEntry 1s ease-in-out;
}

.buttonLink{
  background-color: #61dafb;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.buttonLink:hover{
  background-color: #fff;
  color: #61dafb;
  border: 1px solid #61dafb;
}

.imageBox{
  width: 100%;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  width: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 20px;
  animation: captionEntry 1s ease-in-out;
}

@keyframes captionEntry {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.listAnimation {
  animation: captionEntry 3s ease-in-out;
} 


@media (max-width: 768px){
  .image{
    width: 100% !important;
    height: 300px;
    border-radius: 10px !important;
  }

  .imageBox{
    width: 100% !important;
    height: 300px;
  }

  .carousel-caption{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 0.8rem;

  }
  .buttonLink{
    font-size: 15px;
    padding: 5px;
  }
}